/* =============
    Base
============= */

.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
    ". content ."
    ;
}

.content{
  grid-area:content;  
}

.large-images{
    width:100%
}

.content-spacing{
    padding-top: 30px;
}